:root {
    --body-bg: #212529;
    --body-color: #899095;
    --link-color: #dee2e6;
    --link-color-hover: #3cc368;
}

body {
    padding: 3%;
    background-color: var(--body-bg);
    color: var(--body-color);
}

.name {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

.description {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 240px;
}

.list_descripition {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 220px;
}

.foto {
    float: left;
    height: 280px;
    width: auto;
    padding: 10px;
    background-color: khaki;
}

.image-container {
    height: 300px;
}

.alter_style {
    font-style: oblique;
}

.alter_size_habilities {
    font-size: 18px;
}

a {
    color: var(--link-color);
}

a:hover {
    color: var(--link-color-hover);
}