.alter_name_and_description{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.alter_background_body{
    background-color: #FAF0CA;
}
.alter_style{
    font-style: oblique;
}
.alter_size_habilities{
    font-size: 18px;
}
        